*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}


#header{
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    padding-right: 10px 0px;
    align-items: center;
}

span{
    font-size: 13px;
}

.title--Web{
    font-weight: bold;
    color: #0082b0;
}

button{
    font-size: 10px!important;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand > img{
    width: 50px;
}

h4,
h1,
h2,
h3,
h5,
h6,
hr{
    color: #0082b0!important;
}

p{
    font-size: 12px;
}


/* CAROUSEL */

.carousel-container {
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 60vh;
    width: 100%;
    margin: 0px 0px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Ajustes adicionales para los controles del carousel */
.carousel-control-prev,
.carousel-control-next {
    width: auto;
    margin-top: -50px; /* Ajusta el margen superior de los controles */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Color de fondo de los iconos de control */
}


/* Novedades */

.novedades{
    background-image: url(../assets/img/background/background-novedades.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    width: 100%; /* Ancho completo del contenedor */
    padding: 16px;
}

.novedades-content{
    width: 70%; /* Ancho del contenido dentro de .novedades */
    margin: 0 auto;
}

.card-text{
    font-size: 10px;
}



/* Especialidades */

.especialidades-Content{
    width: 70%;
    margin: 0 auto;
}

.img-especialidades{
    width: 100px;
}

.tarjeta{
    background-color: #f6f6f6;
    padding: 10px 15px;
    margin: auto;
    border-radius: 10px;
}

.p{
    color: #0082b0;
    font-weight: bold;
}

/* Atencion y botones */

.turnos--Content{
    background-color: #222C66;
}

.cv--Content{
    background-color: #0082b0 ;
}

.btn-cv{
    background-color: #222C66!important;
    font-weight: bold;
}

.cv--title{
    color: #222C66!important;
    font-weight: bold;
}

/* contactos */

.contactos{
    background-color: #4d4d51;
}

/* Registro Personal */

.img-registro{
    width: 200px;
}

ul > li {
    font-size: 12px;
}
